@charset "UTF-8";
@font-face {
    font-family: 'quenda';
    src: url(../fontes/Quenda-Medium.otf) format('opentype'); /* CORRIGIR FORMAT */
    font-family: 'lato';
    src: url(../fontes/Lato-Regular.ttf) format('truetype');
}

/* MOBILE FIRST */

:root {
    --cor-logo-primaria:rgb(150, 46, 57);
    --cor-logo-secundaria: rgb(255, 222, 89);
    --cor-logo-terciaria: rgb(255, 249, 229);
    --fonte-destaque: 'quenda';
    --fonte-texto: 'lato', 'arial', sans-serif;
}

* {
    padding: 0;
    margin: 0;
}

html {
    background: linear-gradient(170deg, var(--cor-logo-primaria) 30%, var(--cor-logo-secundaria));
}

main {
    height: 98vh;
}

header {
    display: grid;
    place-items: center;
    height: 100px;
    font-family: var(--fonte-texto);
    font-size: 2.3em;
    letter-spacing: 0.4em;
    color: var(--cor-logo-terciaria);
    padding-bottom: 25px;
}

header > h1 {
    text-decoration: underline 1px var(--cor-logo-secundaria);
    text-underline-offset: 10px;
    font-style: italic;
}

.container {
    display: grid;
    place-items: center;
    margin: auto;
    background-color: var(--cor-logo-terciaria);
    width: 350px;
    height: 300px;
    padding: 25px;
    border: 2px solid var(--cor-logo-secundaria);
    border-radius: 15px;
    text-align: justify;
}

.botoes {
    display: flex;
    flex-direction: row;
    margin: auto;
    width: 400px;
    height: 10px;
    padding: 15px;
    justify-content: space-between;
}

#anterior {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 150px;
    height: 50px;
    background-color: var(--cor-logo-terciaria);
    border: 2px solid var(--cor-logo-secundaria);
    border-radius: 10px;
    text-decoration: none;
    font-size: 1.2em;
}

#proximo {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 150px;
    height: 50px;
    background-color: var(--cor-logo-terciaria);
    border: 2px solid var(--cor-logo-secundaria);
    border-radius: 10px;
    text-decoration: none;
    font-size: 1.2em;
}