@charset "UTF-8";

@media screen and (min-width: 769px) {
    @font-face {
        font-family: 'quenda';
        src: url(../fontes/Quenda-Medium.otf) format('opentype'); /* CORRIGIR FORMAT */
    }
    
    @font-face {
        font-family: 'lato';
        src: url(../fontes/Lato-Regular.ttf) format('truetype');
    }
    
    :root {
        --cor-logo-primaria:rgb(150, 46, 57);
        --cor-logo-secundaria: rgb(255, 222, 89);
        --cor-logo-terciaria: rgb(255, 249, 229);
        --fonte-destaque: 'quenda';
        --fonte-texto: 'lato', 'arial', sans-serif;
    }

    * {
        margin: 0;
        padding: 0;
    }

    html {
        width: 100vw;
        height: 100vh;
        background: linear-gradient(rgba(17, 17, 17, 0.676), rgba(20, 20, 20, 0.471)), url(../imagens/padaria2.jpg);
        background-position: center top;
        background-size: cover;
        background-repeat: no-repeat;
    }

    header {
        font-size: 3.0em;
    }

    .container {
        display: grid;
        place-items: center;
        margin: auto;
        background-color: var(--cor-logo-terciaria);
        width: 850px;
        height: 300px;
        border: 2px solid var(--cor-logo-secundaria);
        border-radius: 15px;
        text-align: justify;
        font-family: var(--fonte-texto);
    }

    .container-botoes {
        display: grid;
        grid-template-areas:
          'legal viabilidade custos mvv constituicao investimento';
        width: 850px;
        margin: auto; 
        justify-content: space-around;
    }
    
    .items {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        border: 2px solid var(--cor-logo-secundaria);
        border-radius: 5px;
        box-shadow: 1px 1px 1px rgba(128, 128, 128, 0.348);
        height: 30px;
        width: 150px;
        margin: 15px;
        font-family: var(--fonte-destaque);
        background-color: var(--cor-logo-terciaria);
        color: #000000;
        font-size: 1em;

        opacity: 0.8;
    }

    .items:hover {
        -xpedu-transform: scale(1.3);
        -ms-transform: scale(1.3);
        transform: scale(1.3);
        cursor: pointer;

        transition: 0.5s;
        background-color: var(--cor-logo-primaria);
        color: var(--cor-logo-terciaria);
        text-decoration: underline var(--cor-logo-secundaria);

        opacity: 1;
    }

    #legal {
        grid-area: legal;
        font-size: 1.1em;
    }

    #viabilidade {
        grid-area: viabilidade;
        font-size: 1.5em;
    }

    #custos {
        grid-area: custos;
        font-size: 1.5em;
    }

    #mvv {
        grid-area: mvv;
        font-size: 0.8em;
    }

    #constituicao {
        grid-area: constituicao;
        font-size: 0.8em;
    }

    #investimento {
        grid-area: investimento;
        font-size: 1.2em;
    }

    .botoes {
        display: none;
    }

}