@charset "UTF-8";

@font-face {
    font-family: 'quenda';
    src: url(../fontes/Quenda-Medium.otf) format('opentype'); /* CORRIGIR FORMAT */
}

@font-face {
    font-family: 'lato';
    src: url(../fontes/Lato-Regular.ttf) format('truetype');
}

/* MOBILE FIRST */

:root {
    --cor-logo-primaria:rgb(150, 46, 57);
    --cor-logo-secundaria: rgb(255, 222, 89);
    --cor-logo-terciaria: rgb(255, 249, 229);
    --fonte-destaque: 'quenda';
    --fonte-texto: 'lato', 'arial', sans-serif;
}

* {
    padding: 0;
    margin: 0;
}

html {
    background: linear-gradient(170deg, var(--cor-logo-primaria) 30%, var(--cor-logo-secundaria));
}

main {
    height: 700px;
}

header {
    display: grid;
    place-items: center;
    height: 100px;
    font-family: var(--fonte-destaque);
    font-size: 2.3em;
    color: var(--cor-logo-terciaria);
    padding-top: 10px;
    padding-bottom: 25px;
}

header > h1 {
    text-decoration: underline 1px var(--cor-logo-secundaria);
    text-underline-offset: 10px;
    font-style: italic;
}

.container {
    display: grid;
    place-items: center;
    margin: auto;
    background-color: var(--cor-logo-terciaria);
    width: 250px;
    height: 500px;
    padding: 25px;
    border: 2px solid var(--cor-logo-secundaria);
    border-radius: 15px;
    text-align: justify;
    font-family: var(--fonte-texto);
}

.botoes {
    display: flex;
    flex-direction: row;
    margin: auto;
    width: 300px;
    height: 100px;
    padding-top: 15px;
    justify-content: space-between;
}

.botoes-items {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 140px;
    height: 50px;
    background-color: var(--cor-logo-terciaria);
    border: 2px solid var(--cor-logo-secundaria);
    border-radius: 10px;
    text-decoration: none;
    font-size: 1.2em;
    margin-top: 25px;
    font-family: var(--fonte-texto);
}

.botoes-items:hover {
    -xpedu-transform: scale(1.1);
    -ms-transform: scale(1.1);
    transform: scale(1.1);
    cursor: pointer;
}

#proximo {
    letter-spacing: 0.1em;
}