@charset "UTF-8";

@media screen and (min-width: 769px) {
    
    @font-face {
        font-family: 'quenda';
        src: url(../fontes/Quenda-Medium.otf) format('opentype'); /* CORRIGIR FORMAT */
    }
    
    @font-face {
        font-family: 'lato';
        src: url(../fontes/Lato-Regular.ttf) format('truetype');
    }
    
    :root {
        --cor-logo-primaria:rgb(150, 46, 57);
        --cor-logo-secundaria: rgb(255, 222, 89);
        --cor-logo-terciaria: rgb(255, 249, 229);
        --fonte-destaque: 'quenda';
        --fonte-texto: 'lato', 'arial', sans-serif;
    }

    * {
        margin: 0;
        padding: 0;
    }

    html {
        width: 99vw;
    }

    body {
        background: linear-gradient(rgba(17, 17, 17, 0.676), rgba(20, 20, 20, 0.471)), url(../imagens/padaria2.jpg);
        background-position: center center;
        background-size: cover;
        background-repeat: no-repeat;
        background-position-y: 0px;
    }

    header {
        font-size: 3.0em;
    }

    .container {
        display: grid;
        grid-template-areas: 
          'legal viabilidade custos'
          'mvv constituicao investimento'
          'informacoes informacoes informacoes'
          'informacoes informacoes informacoes'
          'informacoes informacoes informacoes';
        height: 100vh;
        width: 99vw;
        place-items: center;
    }

    #legal {
        grid-area: legal;
        font-size: 1.5em;
    }

    #viabilidade {
        grid-area: viabilidade;
        font-size: 1.5em;
    }

    #custos {
        grid-area: custos;
        font-size: 1.5em;
    }

    #mvv {
        grid-area: mvv;
    }

    #constituicao {
        grid-area: constituicao;
    }

    #investimento {
        grid-area: investimento;
    }

    #informacoes {
        display: none;
        place-items: center;
        grid-area: informacoes;
        font-family: var(--fonte-texto);
        text-align: justify;
        color: #000000;
        background-color: var(--cor-logo-terciaria);
        padding: 25px;
        border: 2px solid var(--cor-logo-secundaria);
        border-radius: 15px;
        box-shadow: 1px 1px 1px rgba(128, 128, 128, 0.348);
        width: 82vw;
        height: 400px;
    }

}