@charset "UTF-8";

@media screen and (min-width: 769px) {
    
    @font-face {
        font-family: 'quenda';
        src: url(../fontes/Quenda-Medium.otf) format('opentype'); /* CORRIGIR FORMAT */
    }
    
    @font-face {
        font-family: 'lato';
        src: url(../fontes/Lato-Regular.ttf) format('truetype');
    }
    
    :root {
        --cor-logo-primaria:rgb(150, 46, 57);
        --cor-logo-secundaria: rgb(255, 222, 89);
        --cor-logo-terciaria: rgb(255, 249, 229);
        --fonte-destaque: 'quenda';
        --fonte-texto: 'lato', 'arial', sans-serif;
    }

    * {
        margin: 0;
        padding: 0;
    }

    html {
        width: 99vw;
        height: 100vh;
    }

    body {
        background: linear-gradient(rgba(17, 17, 17, 0.676), rgba(20, 20, 20, 0.471)), url(../imagens/padaria2.jpg);
        background-position: center center;
        background-size: cover;
        background-repeat: no-repeat;
        background-position-y: 0px;
    }

    .container {
        display: grid;
        grid-template-areas: 
          'legal viabilidade custos'
          'mvv constituicao investimento';
        width: 99vw;
        height: 100vh;
        place-items: center;
    }

    #legal {
        grid-area: legal;
    }

    #viabilidade {
        grid-area: viabilidade;
    }

    #custos {
        grid-area: custos;
    }

    #mvv {
        grid-area: mvv;
    }

    #constituicao {
        grid-area: constituicao;
    }

    #investimento {
        grid-area: investimento;
    }

    #informacoes {
        display: none;
    }

}