@charset "UTF-8";

@media screen and (min-width: 769px) {
    
    @font-face {
        font-family: 'quenda';
        src: url(../fontes/Quenda-Medium.otf) format('opentype'); /* CORRIGIR FORMAT */
    }
    
    @font-face {
        font-family: 'lato';
        src: url(../fontes/Lato-Regular.ttf) format('truetype');
    }
    
    :root {
        --cor-logo-primaria:rgb(150, 46, 57);
        --cor-logo-secundaria: rgb(255, 222, 89);
        --cor-logo-terciaria: rgb(255, 249, 229);
        --fonte-destaque: 'quenda';
        --fonte-texto: 'lato', 'arial', sans-serif;
    }

    * {
        margin: 0;
        padding: 0;
    }

    html {
        width: 100vw;
        height: 100vh;
        background: linear-gradient(rgba(17, 17, 17, 0.676), rgba(20, 20, 20, 0.471)), url(../imagens/padaria2.jpg);
        background-position: center top;
        background-size: cover;
        background-repeat: no-repeat;
    }

    header {
        font-size: 3.0em;
    }

    .container {
        display: grid;
        place-items: center;
        grid-template-areas:
          'legal viabilidade custos'
          'mvv constituicao investimento';
        padding-top: 5em;
        row-gap: 5em; 
    }

    #legal {
        grid-area: legal;
        font-size: 1.5em;
    }

    #viabilidade {
        grid-area: viabilidade;
        font-size: 1.5em;
    }

    #custos {
        grid-area: custos;
        font-size: 1.5em;
    }

    #mvv {
        grid-area: mvv;
    }

    #constituicao {
        grid-area: constituicao;
    }

    #investimento {
        grid-area: investimento;
    }

    .items:hover {
        -xpedu-transform: scale(1.3);
        -ms-transform: scale(1.3);
        transform: scale(1.3);
        cursor: pointer;

        transition: 0.5s;
        background-color: var(--cor-logo-primaria);
        color: var(--cor-logo-terciaria);
        text-decoration: underline var(--cor-logo-secundaria);
    }

}