@charset "UTF-8";
@font-face {
    font-family: 'quenda';
    src: url(../fontes/Quenda-Medium.otf) format('truetype');
    font-family: 'lato';
    src: url(../fontes/Lato-Regular.ttf) format('truetype');
}

/* MOBILE FIRST */

:root {
    --cor-cabecalho: #000000af;
    --cor-fundo:#808080;
    --cor-fonte: #fff9e5;
    --fonte-destaque: 'quenda', arial, sans-serif;
    --fonte-texto: 'lato',arial, sans-serif;
}

* {
    padding: 0;
    margin: 0;
}

main { 
    background-color: var(--cor-fundo);
}

header{
    display: grid;
    place-items: center;
    height: 100px;
    background-color: var(--cor-cabecalho);
    font-family: var(--fonte-cabecalho);
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.items {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    border: 1px solid black;
    height: 100px;
    width: 200px;
    margin: 25px;
}

.items > p {

}