@charset "UTF-8";
@font-face {
    font-family: 'quenda';
    src: url(../fontes/Quenda-Medium.otf) format('opentype'); /* CORRIGIR FORMAT */
    font-family: 'lato';
    src: url(../fontes/Lato-Regular.ttf) format('truetype');
}

/* MOBILE FIRST */

:root {
    --cor-logo-primaria:rgb(150, 46, 57);
    --cor-logo-secundaria: rgb(255, 222, 89);
    --cor-logo-terciaria: rgb(255, 249, 229);
    --fonte-destaque: 'quenda';
    --fonte-texto: 'lato', 'arial', sans-serif;
}

* {
    padding: 0;
    margin: 0;
}

html {
    background-image: linear-gradient(160deg, rgba(150, 46, 56, 0.875), rgba(150, 46, 56, 0.597), transparent);
}

header {
    display: grid;
    place-items: center;
    height: 100px;
    font-family: var(--fonte-texto);
    font-size: 2.3em;
    letter-spacing: 0.4em;
    color: var(--cor-logo-terciaria);
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.items {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    border: 2px solid var(--cor-logo-secundaria);
    border-radius: 15px;
    box-shadow: 1px 1px 1px rgba(128, 128, 128, 0.348);
    height: 100px;
    width: 250px;
    margin: 25px;
    font-family: var(--fonte-texto);
    background-color: var(--cor-logo-terciaria);
    color: #000000;
    font-size: 1.3em;
}

.menor > p {
    letter-spacing: 0.2em;
}
